{% extends 'base.html' %} {% load static %} 
{% block custom_css %}
<link rel="stylesheet" href="{% static 'home/css/pageNotFound.css' %}" />
{% endblock custom_css %}
 {% block title %} خطأ في الوصول الى الصفحة{% endblock title%}
{% block sub_title %} لا يمكن لهذا المستخدم الوصول الى هذه الصفحة{% endblock %}
{% block content %}
<div style="direction: rtl" class="wrapper bg-dark">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <section id="not-found">
      <div id="title">لم يتم العثور على الصفحة &bull; لا يمكنك الوصول الى هذه الصفحة</div>
      <div class="circles bg-dark">
        <p>
          404<br />
          <small>لا يمكنك الوصول الى هذه الصفحة</small>
        </p>
        <a onclick="history.back()" class="btn btn-primary text-white text-lg">رجوع </a>
        {% if user.is_authincated %}
        <a href='{% url "logout" %}' class="btn btn-danger text-white text-lg">تسجيل الخروج</a>
        {% endif %}
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
      </div>
    </section>
    
    <!-- Main content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
{% endblock content %}
