{% extends 'base.html' %} {% load django_bootstrap5 %} {% load static %} {% block title %}
صفحة الملف الشخصي للمستخدم
{% endblock title %}
{% block sub_title %}
صفحة الملف الشخصي للمستخدم
{% endblock %} {% block content %}
<style>
      #toggle {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: #808080;
    cursor: pointer;
  }

  #toggle i {
    font-size: 20px;
  }

  .strength {
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    bottom: 5px;
  }

  #strength-bar {
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
  }
</style>
<div style="direction: rtl" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-dark">
        <!-- Content Header (Page header) -->
        <div class="content bg-dark">
            <div class="container-fluid bg-dark">
                <hr class="mt-0 mb-4" />
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0 bg-dark">
                            <div class="card-header">صورة الملف الشخصي</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2 h-100 w-100"
                                    src="{% if profile.user_photo %}{{profile.user_photo.url}}{% else %} {% static 'home/default_imges/user-defualt.png' %} {% endif %}"
                                    alt="" />
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">
                                    JPG or PNG no larger than 5 MB
                                </div>
                                {% if profile.user != request.user %}
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    
                                    <div class="mb-3">
                                        <label for="group">صلاحيات المستخدم</label>
                                        <select class="form-select" id="group" name="permissions"
                                            aria-label="مستخدم مع صلاحيات البحث فقط">
                                            <option value="super" {% if profile.user.is_superuser %} selected {% endif %}> مستخدم مع صلاحيات المدير يمكنه الوصول الى جميع الوظائف</option>
                                            <option value="staff" {% if profile.user.is_staff and not profile.user.is_superuser %} selected {% endif %}>مستخدم مع صلاحيات تعديل و البحث</option>
                                            <option value="user" {% if not profile.user.is_staff and not profile.user.is_superuser %} selected {% endif %} >مستخدم مع صلاحيات البحث فقط</option>

                                        </select>
                                    </div>
                                    
                                    <button class="btn btn-primary" type="submit">
                                        تحديث صلاحيات المستخدم
                                    </button>
                                </form>
                                {% endif %}
                                <!-- Profile picture upload button-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4 bg-dark">
                            <div class="card-header">تعديل بيانات الحساب</div>
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form userForm exclude="password" %}
                                    {% bootstrap_form profileForm  %}
                                    
                                    
                                    <a class="btn btn-warning text-secondary"  data-bs-toggle="modal" data-bs-target="#change_password">
                                        تغير كلمة المرور <i class="fas fa-exchange-alt ml-3"></i>
                                    </a>
                                    <button class="btn btn-primary" type="submit">
                                        حفظ التغيرات <i class="fa fa-save ml-3"></i>
                                    </button>
                                    <a class="btn btn-danger" href="{% url 'delete_user' profile.id %}">
                                        حذف <i class="far fa-trash-alt ml-3"></i>
                                    </a>
                                    <a onclick="history.back()" class="btn bg-info">رجوع <i class="fa fa-undo ml-3" ></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div
                            class="modal fade"
                            id="change_password"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                    تغير كلمة المرور 
                                    </h5>
                                    <button
                                    type="button"
                                    class="btn-close m-0"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                            <form method="POST" enctype="multipart/form-data" id="UserForm">
                                                        {% csrf_token %}
                                                        <div class="alert mb-2" id="Message"></div>
                                                        <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                            <label class="form-label" for="new_password">
                                                                كلمة المرور الجديدة
                                                            </label>
                                                            <input
                                                                type="password"
                                                                name="new_password1"
                                                                maxlength="128"
                                                                class="form-control"
                                                                placeholder="رجاء  ادخال كلمة مرور الجديدة"
                                                                required=""
                                                                oninput="strengthChecker()"
                                                                id="new_password1"
                                                            />
                                                            <span id="toggle" onclick="toggle()">
                                                                <i class="fas fa-eye"></i>
                                                            </span>
                                                            <div id="strength-bar"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                            <label class="form-label" for="new_password2">
                                                                تأكيد كلمة المرور الجديدة
                                                            </label>
                                                            <input
                                                                type="password"
                                                                name="new_password2"
                                                                maxlength="128"
                                                                class="form-control"
                                                                placeholder="رجاء اعادة ادخال كلمة مرور"
                                                                required=""
                                                                oninput="checkMatch()"
                                                                id="new_password2"
                                                            />
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <!-- /.card-body -->
                                                        <div class="card-footer">
                                                        <button
                                                            type="submit"
                                                            id="submitBtn"
                                                            class="btn btn-success w-100 h-100"
                                                        >
                                                            تغير كلمة المرور
                                                        </button>
                                                        </div>
                                                </form>
                                </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<script>
  let isLoginUser ={{profile.user.id}} === {{user.id}};
  let userId= {{profile.user.id}};
  jQuery(function(){
    var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
    ga.type = "text/javascript";
    ga.src = "{% static 'home/js/edit_user.js' %}";
    ga.id = "invisible";
    document.body.appendChild(ga);
    $("#invisible").remove();
});
</script>

{% endblock %}